<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
  

<!-- Add new transaction -->
      <div  class="col-sm-6">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Add a new transaction</h5>
          </div>
          <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isFailed">
          {{ errorMessaget }}
        </div>
          <div class="card-body">
            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
              <div class="row">
                <!-- Dropbox -->
                <div class="col-md-6 pr-1">
                  <label>From account number</label>
                  <select  
                  name="from_account_number" 
                  id="from_account_number" 
                  class="form-control"
                  [(ngModel)]="form.from_account_number" >
                          <option [ngValue]="null" disabled>Select account number</option>
                          <option *ngFor="let account of accounts" [value]="account.accNumber" >{{ account.accNumber }}</option>
                  </select>
                      
              </div>

                
          
          </div>
              
              <div class="row">
                <div class="col-md-6 pr-1">
                  <div >
                    <label>Reciever Account</label>
                    <input type="text"  name="to_account_number"  [(ngModel)]="form.to_account_number" required #to_account_number="ngModel" class="form-control" placeholder="example 	BE71 0961 2345 6769">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 pl-1">
                  <div >
                    <label>Category </label>
                    <select class="form-control" [(ngModel)]="form.category_id" name="category_id" >
                      <option value="">---Please select a category---</option>
                     <option *ngFor="let c of categories" value="{{c.id}}" >
                       {{c.name}}
                      </option>
                      </select>
                  </div>
                </div>

                

              </div>
              <div class="row">
                <div class="col-md-6 pl-1">
                  <div >
                    <label>Amount</label>
                    <input type="number"  name="amount"  [(ngModel)]="form.amount" required #password="ngModel" class="form-control" placeholder="amount">
                  </div>
                </div>
                <div class="col-md-6 pl-1">
                  <div >
                    <label>currency</label>
                    <select class="currency" [(ngModel)]="form.currency" name="currency" >
                      <option value="">---Please select a currency---</option>
                      <option value="{{currency.text}}" *ngFor="let currency of CurrencyList">{{currency.text}}</option>
                    </select>
                  </div>
              </div>
              </div>

              <div class="row">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-round">Add</button>
                </div>
              </div>
    
            </form>
          </div>
        </div>
    </div>


    <!-- Add new category -->
    <div  class="col-sm-6">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Add a new category</h5>
        </div>
        <div
        class="alert alert-danger"
        role="alert"
        *ngIf="f.submitted && isFailed">
        {{ errorMessage }}
      </div>
        <div class="card-body">
          <form name="form" (ngSubmit)="onSub()" #f="ngForm" novalidate>

            
            <div class="row">
              <div class="col-md-6 pr-1">
                <div >
                  <label>Name</label>
                  <input type="text"  name="name"  [(ngModel)]="form.name" required #name="ngModel" class="form-control" placeholder="name">
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 pl-1">
                <div >
                  <label>brand</label>
                  <input type="brand"  name="brand"  [(ngModel)]="form.brand" required #brand="ngModel" class="form-control" placeholder="brand">
                </div>
              </div>
            
            </div>

            <div class="row">
              <div class="col-md-6 pl-1">
                <div >
                  <label>Description</label>
                  <textarea name="description" [(ngModel)]="form.description" #description="ngModel" class="form-control" rows="8" cols="50">Describe your category here</textarea>
                  <!-- <input type="description"  name="description"  [(ngModel)]="form.description" required #description="ngModel" class="form-control" placeholder="description"> -->
                </div>
              </div>
            
            </div>

            <div class="row">
              <div class="update ml-auto mr-auto">
                <button type="sub" class="btn btn-primary btn-round">Add</button>
              </div>
            </div>
  
          </form>
        </div>
      </div>
  </div>
